<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Mantenedor</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-uWxY/CJNBR+1zjPWmfnSnVxwRheevXITnMqoEIeG1LJrdI0GlVs/9cVSyPYXdcSF" crossorigin="anonymous">
</head>
<body>
    <script src="https://unpkg.com/vue@next"></script>
    <div id="app" class="container mt-3">
        <h1>Mantenedor de productos</h1>
        {{ newTodo }}
        
        <div class="form-group" >
                <span v-if="error" class="text-danger">Faltan campos por rellenar</span>
                <input id="nombre" v-model="nombre" class="form-control" placeholder="Nombre" required>
                <input id="descripcion" v-model="descripcion"class="form-control" placeholder="Descripcion" required>
                <input id="precio" v-model="precio"class="form-control" type="number" placeholder="Precio" min="0" required>

                <button @click="addItem" type="submit" class="btn btn-primary">Agregar</button>
        </div>

        <div>
            <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Nombre</th>
                    <th scope="col">Descripcion</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Accion</th>
                  </tr>
                </thead>
                <tbody v-for="(objeto, index) in objetos">
                  <tr>
                    <td v-if="editIndex === index">
                        <input type="text" name="nombre"  v-model="editNombre" >
                    </td>
                    <td v-else>{{objeto.nombre}}</td>
                    <td v-if="editIndex === index">
                        <input type="text" name="descripcion"  v-model="editDescripcion" >
                    </td>
                    <td v-else>{{objeto.descripcion}}</td>
                    <td v-if="editIndex === index">
                        <input type="number" name="precio" min=0 v-model="editPrecio">
                    </td>
                    <td v-else>{{objeto.precio}}</td>
                    <td>
                        <div v-if="editIndex === index">
                            
                            <button @click="saveItem(index)" class="btn btn-success">Guardar</button>
                            <button @click="cancel" class="btn btn-danger">Cancelar</button>
                        </div>
                        <div v-else>
                            <button @click="setItem(index)" class="btn btn-secondary">Editar</button>
                        <button @click="deleteItem(index)" class="btn btn-danger">Eliminar</button>
                        </div>
                        

                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>
    <script src="main.js"></script>
</body>
</html>